@page
@model Dreamcatcher.Pages_Members.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.stageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.stageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.fullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.fullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.englishName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.englishName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.homeTown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.homeTown)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Member.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
