@page
@model Dreamcatcher.Pages_Members.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.stageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.stageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.fullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.fullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.englishName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.englishName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.homeTown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.homeTown)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Member.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
