@page
@model Dreamcatcher.Pages_Members.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].stageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].englishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].homeTown)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.englishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.homeTown)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
