@page "/GroceryStore"

<h1>This is the Grocery Store Page.</h1>

<h2>Add Food Item to an Aisle:</h2>


<div class="container">
    <h3>List of Grocery Aisles</h3>
    <table>
        <thead>
            <tr>
                <th>Aisle Number</th>
                <th>Aisle Name</th>
                <th>Food Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var GroceryIsle in aisles)
            {
                <tr>
                    <td>@GroceryIsle.aisleNumber</td>
                    <td>@GroceryIsle.aisleName</td>
                    <td>@GroceryIsle.listofFoodItem</td>
                </tr>
            }
            @foreach (var FoodItem in ?????????)
            {
                <thead>
                    <tr>
                        <th>↑ / ↓</th>
                        <th>Qty</th>
                        <th>Name</th>
                        <th>Type of Food</th>
                        <th>Origin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                        </td>
                        <td>@FoodItem.quantity</td>
                        <td>@FoodItem.foodName</td>
                        <td>@FoodItem.typeOfFood</td>
                        <td>@FoodItem.origin</td>
                    </tr>
                </tbody>
            }
        </tbody>
    </table>
</div>

@code {
    private IEnumerable<GroceryIsle> aisles = new[] 
    {
        new GroceryIsle { aisleNumber = 1, aisleName = "Cereal", listofFoodItem = Cereal },
        new GroceryIsle { aisleNumber = 2, aisleName = "Cookies", listofFoodItem = Cookies },
        new GroceryIsle { aisleNumber = 3, aisleName = "Dairy", listofFoodItem = Dairy }
    };


}